@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Noto+Sans:wght@400&display=swap');


* {
    box-sizing: border-box;
}

:root {
    --font-form: 'Noto Sans', sans-serif;
    --font-itens: 'Kite One', sans-serif;
    --color01: #F2F2F2;
    --color02: #578BF2;
    --color03: #1D64F2;
    --color04: #0554F2;
    --color05: #1A2873;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--color05);
}

main {
    width: 300px;
}

.container-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-family: var(--font-form);
    color: var(--color05);
    background-color: var(--color01);
}

.container-img {
    height: 10rem;
    background: url("../img/online-shopping-128.png");
    background-repeat: no-repeat;
    background-position: center;    
    margin-bottom: 1rem;
    text-align: center;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.main-form-label {
    margin-bottom: 0.2rem;
}

.main-form-input {
    height: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--color05);
    background-color: white;
    font-size: 1rem;
}

.main-form-button {
    height: 3.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--color04);
    font-family: var(--font-form);
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: var(--color04);
}

.container-list {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color01);
}

.list-itens {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.4rem;
    font-family: var(--font-itens);
    font-size: larger;
    font-weight: bolder;
    border-radius: 30px;
    text-align: center;
}

.item > strong {
    font-family: var(--font-form);
}

.item > button {
    font-size: larger;
    font-weight: bolder;
}

.item:nth-child(odd) {
    background-color: var(--color05);
    color: white;
    border: 3px solid var(--color05);
}

.item:nth-child(even) {
    background-color: white;
    color: var(--color05);
    border: 3px solid var(--color05);
}

.item:nth-child(odd) > strong {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 3px solid var(--color05);
    border-radius: 30px;
    background-color: white;
    color: var(--color05);
}

.item:nth-child(even) > strong {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 3px solid white;
    border-radius: 30px;
    background-color: var(--color05);
    color: white;
}

.item:nth-child(odd) > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3rem;
    width: 3.3rem;
    border: 3px solid var(--color05);
    border-radius: 30px;
    background-color: white;
    color: var(--color05);
}

.item:nth-child(even) > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3rem;
    width: 3.3rem;
    border: 3px solid white;
    border-radius: 30px;
    background-color: var(--color05);
    color: white;
}

.main-form-button:hover {
    background-color: var(--color02);
    border: 0.15rem solid var(--color02);
    cursor: pointer;
}

.item > button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}
